@model TeacherRatings.Models.Teacher
@using TeacherRatings.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>Имzя преподавателя : @Html.TextBoxFor(teacher => teacher.Name)</p>
            <p>Фамилия преподавателя : @Html.TextBoxFor(teacher => teacher.LastName)</p>
            <p>Ссылка на фотографию : @Html.TextBoxFor(teacher => teacher.Image)</p>
            <p> Кафедра :
            @Html.DropDownList("Department_DepartmentId", (IEnumerable<SelectListItem>)@ViewBag.list);            
            </p>
            <input type="submit" value="Добавить" />
        }

    </div>
</body>
</html>
