@{
    ViewBag.Title = "CommonTeacherPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/TeacherPage.css")" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-4 col-md-5 col-sm-6">
            <div class="container-fluid">
                <br>
                <div>
                    <img src="http://placehold.it/320x240" alt="">
                </div>
                <br>
                <div id="belowFoto">
                    <a href="/Teacher/TeacherPage" class="btn btn-primary">Статистика</a>
                    <a href="/Teacher/Value?teacherId=2" class="btn btn-primary">Оцінити викладача</a>
                    <div id="thumbsUp">
                        <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i> <span>4</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-12 col-lg-8 col-md-7 col-sm-6">
            <h2>Name</h2>
            <h4>Кафедра {назва кафедри}</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut cumque debitis saepe porro commodi! Dolorum excepturi quam debitis. Officiis voluptas odio, accusantium eum molestiae ea eos repellendus illo voluptates quasi!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate hic laboriosam, optio inventore, dolore consequatur expedita amet nemo, est, voluptate totam. Exercitationem, facilis a, incidunt quisquam cupiditate tenetur eligendi molestiae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut cumque debitis saepe porro commodi! Dolorum excepturi quam debitis. Officiis voluptas odio, accusantium eum molestiae ea eos repellendus illo voluptates quasi!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate hic laboriosam, optio inventore, dolore consequatur expedita amet nemo, est, voluptate totam. Exercitationem, facilis a, incidunt quisquam cupiditate tenetur eligendi molestiae.
            </p>
            <hr>
         
   @RenderBody()

</div>
</div>
</div>
<br>