@using TeacherRatings.Models;
@using System.Collections;
@model TeacherRatings.HelperClasses.CriteriaReturn

<link href="@Url.Content("~/Content/RadioValue.css")" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/CommonTeacherPage.cshtml";
}
                        <div>
    @using (Html.BeginForm())
    {
        int i = 0;
        string s = "Critearias_" + i.ToString() + "_";

        <p>
            <div>
                <div>                    
                        @foreach(var criteria in Model.Criterias)
                        {
                        <p><h3>@ViewBag.Criterias[@i]</h3></p>
                            <div class="funkyradio">
                                <div class="funkyradio-default">
                                    <input type="radio" name="Criterias[@i]" id="radio1(@i)" value="1" />
                                    <label for="radio1(@i)">1</label>
                                </div>
                                <div class="funkyradio-primary">
                                    <input type="radio" name="Criterias[@i]" id="radio2(@i)" value="2" checked />
                                    <label for="radio2(@i)">2</label>
                                </div>
                                <div class="funkyradio-success">
                                    <input type="radio" name="Criterias[@i]" id="radio3(@i)" value="3" />
                                    <label for="radio3(@i)">3</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="Criterias[@i]" id="radio4(@i)" value="4" />
                                    <label for="radio4(@i)">4</label>
                                </div>
                                <div class="funkyradio-warning">
                                    <input type="radio" name="Criterias[@i]" id="radio5(@i)" value="5" />
                                    <label for="radio5(@i)">5</label>
                                </div>
                            </div>
                         ++@i;
                         }                       
                </div>
            </div>
         </p>
                                
       <input type="submit" value="Добавить" />
  }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
